<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ProjectVs" version="1.0.0" targetFramework="net45" />
  <package id="T4Host" version="1.0.1" targetFramework="net45" />
  <package id="Trinity.Base" version="1.0.3" targetFramework="net45" />
  <package id="Trinity.Framework" version="1.0.2" targetFramework="net45" />
  <package id="Trinity.MsSql" version="1.0.0" targetFramework="net45" />
</packages>